.slide {
    width: 1200px;
    height: 800px;
}

#step1 q {
    text-align: center;
    margin-top: 140px;
}

#step1 div {
    position: absolute;
    bottom: 200px;
    right: 140px;
    text-align: right;
    line-height: 52px;
}

#step2 ul {
    margin-top: 120px;
    margin-left: 80px;
}

#step2 ul li {
    line-height: 70px;
    list-style: circle;
}

#step2 p {
    position: absolute;
    bottom: 160px;
    right: 100px;
    text-align: right;
    font-size: 20px;
}

#step3 > div, #step4 > div, #step6 > div, #step12 > div, #step14 > div, #step15 > div {
    margin-top: 120px;
    display: flex;
}

#step3 .img-container, #step4 .img-container {
    width: 50%;
    text-align: center;
}

#step3 .img-container img, #step4 .img-container img {
    max-width: 100%;
}

#step4 .list, #step6 .list {
    width: 50%;
    line-height: 50px;
}

#step4 .list p, #step4 .list ul, #step6 .list {
    padding-left: 70px;
}

#step4 .list ul {
    margin-top: 20px;
}

#step5 > div {
    margin-top: 120px;
}

#step5 p {
    line-height: 60px;
}

#step5 img {
    width: 60px;
    vertical-align: top;
}

#step5 .dialog {
    margin-top: 60px;
    position: relative;
}

#step5 .dialog p {
    display: inline-block;
    background-color: #27D458;
    color: #444;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    border-radius: 6px;
    padding: 0 16px;
    margin-left: 8px;
}

#step5 .dialog p:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid #27D458;
    position: absolute;
    left: 52px;
    top: 15px;
}

#step6 .list, #step14 .list, #step15 .list {
    line-height: 66px;
}

#step6 .img-container {
    margin-left: 100px;
    margin-top: 100px;
    width: 218px;
    height: 210px;
    overflow: hidden;
}

#step7 div, #step8 div {
    height: 640px;
    text-align: center;
    overflow-y: auto;
}

#step8 div {
    padding-top: 50px;
}

#step9 > div{
    margin-top: 60px;
    display: flex;
}

#step9 pre, #step10 pre {
    width: 44%;
    line-height: 44px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 20px 0;
    background-color: #DFD;
}

#step9 ul, #step10 ul, #step11 ul {
    width: 50%;
    margin-left: 5%;
}

#step9 li + li, #step10 li + li, #step11 li + li {
    margin-top: 20px;
}

#step9 .title, #step10 .title, #step11 .title {
    font-size: 28px;
}

#step9 .text, #step10 .text, #step11 .text {
    font-size: 24px;
    text-indent: 48px;
    line-height: 40px;
}

#step10 > div, #step11 > div {
    margin-top: 40px;
    display: flex;
}

#step10 pre {
    line-height: 30px;
    font-size: 22px;
    padding-left: 10px;
}

#step11 .img-container {
    width: 44%;
    overflow: hidden;
}

#step11 .img-container img {
    width: 100%;
    position: relative;
    top: -2px;
    left: -2px;
}

#step12 .list {
    width: 70%;
    line-height: 40px;
    padding-left: 20px;
}

#step12 .list p {
    font-size: 36px;
    margin-bottom: 40px;
}

#step12 .list li + li {
    margin-top: 20px;
}

#step12 .img-container {
    width: 30%;
    text-align: center;
}

#step12 .img-container img {
    width: 80%;
    margin-top: 110px;
}

#step13 .logo {
    position: absolute;
    bottom: 110px;
    left: 110px;
    z-index: -1;
    width: 130px;
}

#step13 .composition {
    position: absolute;
    top: 40px;
    right: 100px;
    z-index: -1;
}

#step14 .list, #step15 .list {
    padding-left: 40px;
    width: 60%;
}

#step14 img, #step15 img {
    width: 200px;
    position: absolute;
    bottom: 160px;
    right: 160px;
}